

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
}




